<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss}][%-5p][%t][Line:%L][%c.%M] -\r\n%m%n
			</Pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="com.appx" level="info" />
	<logger name="com.zaxxer.hikari" level="info" />
	<root>
		<appender-ref ref="console" />
	</root>
</configuration>